# Ignorar arquivos de build e diretórios temporários do JavaScript/TypeScript
/dist
/build
.vite/
node_modules/
/npm-debug.log*
/yarn-debug.log*
/yarn-error.log*
.parcel-cache/
.env.local
.env.development.local
.env.test.local
.env.production.local
.env*.local
# Para projetos Vite com React, arquivos de cache e logs
coverage/

# Ignorar diretórios e arquivos Python
__pycache__/
*.pyc
*.pyd
*.pyo
venv/
.venv/
.env
/media
/static_collected
migrations/

# Ignorar configurações do Django
*.sqlite3
/local_settings.py
# Arquivos de mídia e estáticos gerados (se forem salvos no git)
# Se você tiver um diretório 'media' ou 'static' que não deve ser versionado
# descomente as linhas abaixo. Caso contrário, mantenha-as comentadas.
# media/
# static/

# Ignorar arquivos Docker
# Ignorar arquivos de build do Docker Compose e volumes
.dockerignore
docker-compose.override.yml
# Se você tiver volumes que não devem ser versionados (ex: dados de banco de dados)
# /data/

# Outros arquivos gerais a serem ignorados
.DS_Store
.vscode/
npm-debug.log
yarn-debug.log
yarn-error.log
.idea/
*.log

# Arquivos de upload de usuário ou logs que não devem ser versionados
# uploads/
# logs/